 services:
     redis:
        container_name: 'redis'
        image: redis
        command: redis-server --requirepass Admin@#
        ports:
          - '6379:6379'
        deploy:
          resources:
            limits:
              cpus: '0.5'
              memory: '512M'
            reservations:
              cpus: '0.1'
              memory: '256M'